
<div data-role='page' data-fullscreen='true' class='images'>
  <div data-role="header" data-position='fixed'>
    <a data-role='button' data-icon='back' data-direction='reverse' href='<%=@image.parent.url%>'>Back</a>
    <h1><%=@image.name%></h1>
    <a data-role='button' data-icon='home' class='refresh' href='/' data-transition='slidedown'>Home</a>
  </div>
  <div data-role='content' class='image'>
    <img src='<%=@image.url%>' />
  </div>

  <div data-role="footer" data-position='fixed'>
    <% if @image.previous %>
    <a  data-role='button'
        data-icon='arrow-l'
        data-prefetch='true'
        data-direction='reverse'
        class='back' href='<%=@image.previous.page_url%>'>Previous</a>
    <% end %>
    <% if @image.next %>
    <a  data-role='button'
        data-icon='arrow-r'
        data-prefetch='true'
        data-iconpos='right'
        class='forward ui-btn-right' href='<%=@image.next.page_url%>'>Next</a>
    <% end %>

  </div>
</div>
